extends ./base.jade

block title
    title Login | Pleasure admin

block content

    div !{message}
    form(method="post")
        div
            input(type="text", id="email", name="email", class="inpt", placeholder="Email")

        div
            input(type="password", id="password", name="password", class="inpt", placeholder="Password")

        input(type="submit", class="btn btn-primary" value="Login")

    div(style="margin-top:20px")
        a(href="/forgot") Forgot password?
