extends ./base.jade

block title
    title Register | Pleasure admin

block content

    form(method="post")
        div
            input(type="text", id="name", name="name", class="inpt", placeholder="Name")

        div
            input(type="text", id="email", name="email", class="inpt", placeholder="Email")

        div
            input(type="password", id="password", name="password", class="inpt", placeholder="Password")

        div
            input(type="text", id="university", name="university", class="inpt", placeholder="University")

        div
            input(type="text", id="city", name="city", class="inpt", placeholder="City")

        input(type="submit", class="btn btn-primary" value="Register")
